.article {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;

  .project-container {
    border-radius: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 800px;
    width: 80%;
    margin: auto;
    padding: 1vw;
    opacity: 80%;
    background-color: #eff4ff;
    display: flex;
    flex-direction: column;

    .project-title-container {
      height: 10%;
      width: 100%;
      background-color: white;
    }

    .project-info-container{
      width: 100%;
      height: 100%;
      background-color: red;
      display: flex;

      @media only screen and (max-width: 768px) {
        display: block;

      }
      .image-link-container {
        width: 50%;
        height: 100%;
        background-color: orange;
        @media only screen and (max-width: 768px) {
          width: 100%;
          height: 50%;

        }
        .image-item {
          width: 100%;
          height: 80%;
          background-color: blue;
          @media only screen and (max-width: 768px) {
            width: 100%;
            height: 80%;

          }
        }
        .link-item {
          width: 100%;
          height: 20%;
          background-color: pink;
          @media only screen and (max-width: 768px) {
            width: 100%;
            height: 20%;

          }
        }
      }
      .project-summery-container {
        width: 50%;
        height: 100%;
        background-color: black;

        @media only screen and (max-width: 768px) {
          width: 100%;
          height: 50%;

        }
        .summery-item {
          display: block;
          width: 100%;
          height: 100%;
          background-color: purple;
          @media only screen and (max-width: 768px) {
            width: 100%;
            height: 100%;

          }
        }
      }

    }

  }

}

//
///*1200 992 768 576 기준으로 사용*/
//@media screen and (max-width: 1200px){
//  .main-title {
//    font-size: 30px;
//
//  }
//  .nav-item {
//    font-size: 12px;
//
//  }
//}
//@media screen and (max-width: 768px){
//  .main-title {
//    font-size: 20px;
//
//  }
//}
//@media screen and (max-width: 576px){
//  .main-title {
//    font-size: 10px;
//
//  }
//}